h1{
  font-size: 60px;
  line-height: 80px;
  margin: 0;
  font-weight: 700;
}

h2 {
  font-size: 48px;
  line-height: 66px;
  color: #000000;
  margin: 0;
  font-weight: 700;
}

h3 {
  font-size: 36px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  font-weight: 700;
}

h4 {
  font-size: 36px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  font-weight: 700;
}

h5 {
  font-size: 36px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  font-weight: 700;
}

h6 {
  font-size: 36px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  font-weight: 700;
}

p {
  font-size: 14px;
  line-height: 30px;
  font-family: 'Acrom Reg';
  color: #000000;
}