<div class="footer__index">
    <div class="footer__index__left">
        <a href="#" class="blog-hover">
            <div class="hover__social">
                <p data-text="Читай"></p>
                <div class="pathAnimation" id="pathAnimationBlog"></div>
            </div>
            <p>блог</p>
        </a>
        <a href="#" class="faq-hover">
            <div class="hover__social">
                <p data-text="Спрашивай"></p>
                <div class="pathAnimation" id="pathAnimationFAQ"></div>
            </div>
            <p>f.a.q.</p>
        </a>
        <a href="#" class="vacancies-hover">
            <div class="hover__social">
                <p data-text="Работай"></p>
                <div class="pathAnimation" id="pathAnimationVac"></div>
            </div>
            <p>вакансии</p>
        </a>
    </div>
    <div class="footer__index__right">
        <a href="#" class="vk-hover">
            <div class="hover__social">
                <p data-text="вконтакте"></p>
                <div class="pathAnimation" id="pathAnimationVk"></div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32.469 18.575">
                <defs>
                    <style>
                        .VK {
                            opacity: 0.28;
                        }

                        .VK-2 {
                            fill: #fff;
                        }
                    </style>
                </defs>
                <g id="VK" class="VK" transform="translate(0 0)">
                    <path id="Path_3" data-name="Path 3" class="VK-2" d="M32.294,16.721a1.529,1.529,0,0,1-.1-.208,17.207,17.207,0,0,0-3.216-3.735l-.026-.026-.026-.026L28.9,12.7H28.87C28.144,12,27.7,11.56,27.5,11.326a1.3,1.3,0,0,1-.233-1.375,12.592,12.592,0,0,1,1.53-2.2c.467-.6.83-1.063,1.089-1.427,1.945-2.594,2.8-4.254,2.542-4.98l-.1-.156A.933.933,0,0,0,31.8.9,2.891,2.891,0,0,0,30.712.847L25.861.873a.719.719,0,0,0-.337,0,1.71,1.71,0,0,0-.233.052l-.078.052-.078.052a.6.6,0,0,0-.182.182A.618.618,0,0,0,24.8,1.5a27.233,27.233,0,0,1-1.816,3.813c-.415.7-.8,1.3-1.141,1.816a8.9,8.9,0,0,1-.882,1.141,4.082,4.082,0,0,1-.648.571.55.55,0,0,1-.441.182c-.1-.026-.208-.052-.285-.078a1.2,1.2,0,0,1-.389-.415,2.118,2.118,0,0,1-.208-.648c-.026-.259-.052-.493-.052-.674V6.4c0-.337.026-.6.026-.7,0-.441,0-.882.026-1.4.026-.493.026-.908.052-1.193,0-.285.026-.6.026-.934a5.793,5.793,0,0,0-.052-.778,2.241,2.241,0,0,0-.182-.545,1.082,1.082,0,0,0-.337-.415A1.643,1.643,0,0,0,17.924.2a10.873,10.873,0,0,0-2.283-.208,10.73,10.73,0,0,0-4.072.415,2.379,2.379,0,0,0-.648.519c-.208.259-.233.389-.078.415a1.991,1.991,0,0,1,1.427.726l.1.208a3.578,3.578,0,0,1,.233.778A8.141,8.141,0,0,1,12.762,4.3a14.08,14.08,0,0,1,0,2.1c-.052.6-.1,1.038-.156,1.375a2.708,2.708,0,0,1-.233.8,2.274,2.274,0,0,1-.208.363q-.039.078-.078.078a1.469,1.469,0,0,1-.467.078,1.1,1.1,0,0,1-.571-.233,3.194,3.194,0,0,1-.7-.648,9.383,9.383,0,0,1-.83-1.167,15.587,15.587,0,0,1-.934-1.764l-.259-.493c-.182-.311-.389-.778-.7-1.375-.285-.6-.545-1.193-.778-1.738a1.1,1.1,0,0,0-.415-.545L6.355,1.08A1.134,1.134,0,0,0,6.1.925a2.161,2.161,0,0,0-.389-.1L1.089.847a1.18,1.18,0,0,0-.96.311l-.078.1A.651.651,0,0,0,0,1.521a1.178,1.178,0,0,0,.1.467C.778,3.57,1.5,5.1,2.309,6.579s1.479,2.672,2.075,3.58,1.193,1.764,1.79,2.542a17.55,17.55,0,0,0,1.219,1.53c.208.233.363.389.467.519l.415.415a9.416,9.416,0,0,0,1.193.96,18.255,18.255,0,0,0,1.738,1.115,9.766,9.766,0,0,0,2.231.908,7.44,7.44,0,0,0,2.464.285h1.945a1.387,1.387,0,0,0,.908-.363l.078-.078a1.882,1.882,0,0,0,.13-.311,1.288,1.288,0,0,0,.052-.467,6.845,6.845,0,0,1,.1-1.323,3.507,3.507,0,0,1,.285-.882,1.87,1.87,0,0,1,.363-.493,1.371,1.371,0,0,1,.285-.233.438.438,0,0,1,.13-.052,1.14,1.14,0,0,1,.96.259,6.114,6.114,0,0,1,1.038.986q.467.584,1.167,1.323a7.082,7.082,0,0,0,1.193,1.089l.337.208a4.116,4.116,0,0,0,.882.363,2.009,2.009,0,0,0,.934.078l4.332-.078a2.064,2.064,0,0,0,.986-.208.713.713,0,0,0,.415-.467,1.064,1.064,0,0,0,0-.571,1.758,1.758,0,0,0-.13-.493Zm0,0" transform="translate(0 0.012)"/>
                </g>
            </svg>
        </a>
        <a href="#" class="insta-hover">
            <div class="hover__social">
                <p data-text="Instagram"></p>
                <div class="pathAnimation" id="pathAnimationInst"></div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32.469 32.464">
                <defs>
                    <style>
                        .Instagram {
                            opacity: 0.28;
                        }

                        .Instagram-2 {
                            fill: #fff;
                        }
                    </style>
                </defs>
                <g id="Instagram" class="Instagram">
                    <path id="Instagram-2" data-name="Instagram" class="Instagram-2" d="M9.54,32.361A11.945,11.945,0,0,1,5.6,31.608a7.921,7.921,0,0,1-2.874-1.87A7.9,7.9,0,0,1,.854,26.861,11.9,11.9,0,0,1,.1,22.922C.02,21.186,0,20.638,0,16.228S.02,11.269.1,9.54A11.936,11.936,0,0,1,.854,5.6,7.988,7.988,0,0,1,2.718,2.725,7.912,7.912,0,0,1,5.591.854,11.945,11.945,0,0,1,9.533.1C11.267.021,11.816,0,16.226,0s4.966.021,6.7.093A12,12,0,0,1,26.87.846a7.9,7.9,0,0,1,2.874,1.872,7.921,7.921,0,0,1,1.871,2.873,11.98,11.98,0,0,1,.755,3.941c.077,1.736.1,2.284.1,6.7s-.022,4.967-.1,6.694a11.94,11.94,0,0,1-.755,3.939,8.28,8.28,0,0,1-4.745,4.747,11.945,11.945,0,0,1-3.942.753c-1.736.08-2.284.1-6.7.1S11.267,32.441,9.54,32.361ZM9.668,3.016a9.177,9.177,0,0,0-3.016.562A5.132,5.132,0,0,0,4.786,4.794,5.039,5.039,0,0,0,3.571,6.658a8.827,8.827,0,0,0-.563,3.017c-.079,1.715-.093,2.227-.093,6.56s.014,4.846.093,6.559a9.119,9.119,0,0,0,.563,3.019,5.114,5.114,0,0,0,1.215,1.862,5.034,5.034,0,0,0,1.866,1.217,8.805,8.805,0,0,0,3.016.562c1.715.08,2.227.094,6.559.094s4.846-.014,6.56-.094a9.145,9.145,0,0,0,3.016-.562,5.125,5.125,0,0,0,1.864-1.217,5.006,5.006,0,0,0,1.217-1.862,8.874,8.874,0,0,0,.563-3.019c.077-1.713.092-2.227.092-6.559s-.014-4.845-.092-6.56a9.158,9.158,0,0,0-.563-3.017,5.112,5.112,0,0,0-1.217-1.864A5.015,5.015,0,0,0,25.8,3.577a8.938,8.938,0,0,0-3.016-.562c-1.715-.077-2.227-.092-6.56-.092S11.382,2.938,9.668,3.016ZM7.9,16.228a8.338,8.338,0,1,1,8.338,8.338A8.329,8.329,0,0,1,7.9,16.228Zm2.924.007a5.407,5.407,0,1,0,5.406-5.406A5.4,5.4,0,0,0,10.82,16.234ZM22.943,7.57a1.949,1.949,0,1,1,1.948,1.948A1.952,1.952,0,0,1,22.943,7.57Z" transform="translate(0)"/>
                </g>
            </svg>
        </a>
        <a href="#" class="spark-hover">
            <div class="hover__social">
                <p data-text="Spark"></p>
                <div class="pathAnimation" id="pathAnimationSp"></div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32.469 30.865">
                <defs>
                    <style>
                        .Spark {
                            opacity: 0.28;
                        }

                        .Spark-2 {
                            fill: #fff;
                        }
                    </style>
                </defs>
                <g id="Spark" class="Spark">
                    <path id="Path_3" data-name="Path 3" class="Spark-2" d="M20.755,11.683a.854.854,0,0,1-.811-.649L16.374.243c-.081-.325-.325-.325-.406,0L12.48,11.034a.979.979,0,0,1-.892.649H.229c-.325,0-.406.162-.162.406l9.168,6.653a.931.931,0,0,1,.325.974L6.152,30.5c-.081.325,0,.487.325.243L15.644,24.1a.853.853,0,0,1,1.055,0l9.168,6.653c.325.243.406.081.325-.243L22.7,19.714a.886.886,0,0,1,.325-.974l9.168-6.653c.325-.243.243-.406-.162-.406Zm0,0" transform="translate(0.074 0)"/>
                </g>
            </svg>
        </a>
        <a href="#" class="tw-hover">
            <div class="hover__social">
                <p data-text="Twitter"></p>
                <div class="pathAnimation" id="pathAnimationTw"></div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32.469 26.389">
                <defs>
                    <style>
                        .Twiter {
                            opacity: 0.28;
                        }

                        .Twiter-2 {
                            fill: #fff;
                        }
                    </style>
                </defs>
                <g id="Twiter" class="Twiter">
                    <path id="Path_3" data-name="Path 3" class="Twiter-2" d="M32.469,3.123A13.232,13.232,0,0,1,28.64,4.17,6.64,6.64,0,0,0,31.565.484,13.4,13.4,0,0,1,27.332,2.1a6.657,6.657,0,0,0-11.51,4.558A6.448,6.448,0,0,0,16,8.181,18.936,18.936,0,0,1,2.259,1.221,6.655,6.655,0,0,0,4.32,10.107,6.617,6.617,0,0,1,1.3,9.275v.087a6.668,6.668,0,0,0,5.343,6.532,6.764,6.764,0,0,1-1.752.23A6.515,6.515,0,0,1,3.638,16a6.67,6.67,0,0,0,6.223,4.629,13.4,13.4,0,0,1-8.276,2.854A13,13,0,0,1,0,23.392a18.9,18.9,0,0,0,10.21,3c12.255,0,18.953-10.147,18.953-18.953,0-.285-.008-.579-.016-.864a13.473,13.473,0,0,0,3.321-3.448Zm0,0" transform="translate(0 0)"/>
                </g>
            </svg>
        </a>
        <a href="#" class="fb-hover">
            <div class="hover__social">
                <p data-text="facebook"></p>
                <div class="pathAnimation" id="pathAnimationFb"></div>
            </div>
            <svg class="facebook" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.564 32.469">
                <defs>
                    <style>
                        .Facebook {
                            opacity: 0.28;
                        }

                        .Facebook-2 {
                            fill: #fff;
                        }
                    </style>
                </defs>
                <g id="Facebook" class="Facebook">
                    <path id="Path_3" data-name="Path 3" class="Facebook-2" d="M16.889,0H12.667C7.938,0,4.9,3.124,4.9,7.98v3.673H.676A.667.667,0,0,0,0,12.329v5.32a.667.667,0,0,0,.676.676H4.9V31.793a.667.667,0,0,0,.676.676H11.1a.667.667,0,0,0,.676-.676V18.324h4.94a.667.667,0,0,0,.676-.676v-5.32a.726.726,0,0,0-.676-.676H11.738V8.529c0-1.52.338-2.28,2.322-2.28h2.829a.667.667,0,0,0,.676-.676V.676A.667.667,0,0,0,16.889,0Zm0,0" transform="translate(0)"/>
                </g>
            </svg>
        </a>
    </div>
</div>
